* {
  margin: 0;
  padding: 0;
  background-color:#1a1a2d;
  background-size: cover;
  background-position: center;
  font-family: 'Rubik', sans-serif;
  --main-content-color: #e7e6e6;
  --secondary-content-color: #d3d3d3;
  scroll-behavior: smooth;

}
.onload-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  gap: 7px;
}
#name {
  color: var(--main-content-color);
  max-height: 50px;
  max-width: 320px;
  font-size: 40px;
  white-space: nowrap;
  border-right: .17em solid orange;
  overflow: hidden;
  letter-spacing: .1em;
  animation: 
  typing 4s steps(45, end),
  blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from { width: 0}
  to { width: 100%; }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  25% { border-color: #FB7409; }
}
#info {
  max-height: 40px;
  max-width: 440px;
  color: var(--secondary-content-color)
}
#info-block {
  max-height: 35px;
  position: absolute;
  border: solid transparent;
  animation-name: block-reveal;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  margin-top: -33px;
  margin-left: -5px;
  background-color: #FB7409;
  max-width: 430px;
  border: transparent;
  height: 100%;
}
@keyframes block-reveal {
  100% {width: 85%;}
  0% {width: 0;}
} 
.scrollIcon {
  position: absolute;
  height: auto;
  width: 50px;
  animation-name: scrollMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: alternate;
  opacity: 0;
  margin-top: 200px;
}
@keyframes scrollMove {
  0% { opacity: 0; margin-top: 200px;}
  100% { opacity: 1; margin-top: 210px;}
}
#scroll-down-wrapper {
  display: flex;
  justify-content: center;
}
#about-me-wrapper {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  gap: 5px;
}
#about-me-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 2%;
  color: var(--main-content-color);
  padding: 15px;
}
#fade-right-about-me {
  margin-right: 10px;
  opacity: 1;
}
.animationRight {
  position: absolute;
  animation-name: fadeRight;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: transparent;
}
@keyframes fadeRight {
  from {margin-right: 600px; opacity: 0;}
  to {margin-right: 175px; opacity: 1;}
}
#fade-left-about-me {
  margin-left: 10px;
  opacity: 1;
}
.animationLeft {
  position: absolute;
  animation-name: fadeLeft;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: transparent;
}
@keyframes fadeLeft {
  from {margin-left: 600px; opacity: 0;}
  to {margin-left: 175px; opacity: 1;}
}
#grid-container {
  display: flex;
  justify-content: center;
  object-fit: contain;
  max-width: 1500px;
  margin-bottom: 5%;
}
.about-me-content-wrapper {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 200px 200px 200px 200px;
  min-height: 30vh;
  max-width: 100%;
  gap: 15px;
  color: var(--secondary-content-color);
}
@media (max-width: 900px) {
  .about-me-content-wrapper { grid-template-columns: repeat(3, 100px);
   }
}
.about-me-text-content {
  display: flex;
  color: var(--secondary-content-color);
  text-align: center;
}
#about-me-tech-stack-title {
  color: var(--main-content-color);
  padding: 15px;
}
.grid-square {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  perspective: 1000px;
}
.icon {
  max-height: 60px;
  min-height: 10px;
}
#icon1 {
  animation-name: flipper;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transform: rotateY(180deg);
  animation-fill-mode: forwards;
  /* transition: transform 3s */
  transform-style: preserve-3d;
}
@keyframes flipper {
  from {transform:rotateY(180deg);}
  to {transform:rotateY(0deg);}
}

#projects-wrapper {
  min-height: 100vh;
  margin-left: 7%;
  margin-right: 7%;
  max-width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#projects-page-title {
  color: var(--main-content-color);
}
.projects-grid-wrapper {
  display: grid;
  margin-top: 3%;
  margin-bottom: 5%;
  grid-template-columns: 650px 650px;
  grid-template-rows: repeat(4 310px);
  gap: -1px;
  object-fit: cover;
} 
@media (max-width: 1200px) {
  .projects-grid-wrapper {grid-template-columns: 600px} 
}
@media (max-width: 900px) {
  .projects-grid-wrapper {grid-template-columns: 375px} 
}
.projects-thumbnail-image {
 object-fit: cover;
 max-width: 700px;
 max-height: 338px;
 width: 100%;
 height: 100%;
}